@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700;900&display=swap');

* {
    font-family: 'Noto Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    background-color: #1f2937;
    padding-block: 16px ;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav {
    width: auto;
    display: flex;
    gap: 16px;
    align-items: center;
    margin-inline: 10vw;

}

.logo-text {
    margin-right: auto;
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.logo-text a {
    font-size: 5rem;
}

.hero-content {
    margin-inline: 10vw;
    display: flex;
    gap: 32px;
    margin-block: 48px;
    height: auto;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    justify-content: space-between;
    margin-right: 8rem;
}

.main-text {
    font-size: 3rem;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
}

.main-description {
    font-size: 1.125rem;
    color: #e5e7eb;
    margin: 0;
}

.btn {
    border-radius: 4px;
    background-color: #3882f6;
    color: #f9faf8;
    align-self: flex-start;
    padding: .25rem 1.25rem;
    border: none;
    font-weight: bold;
}

.hero-image{
    display: flex;
    flex: 1;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 12vw;
    margin-block: 2rem;
    gap: 2rem;
    color: #1f2937;
    font-size: 1.5rem;
}

.card-container {
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.125rem;
    flex: 1;
    margin: 0 auto;
}

.card p {
    text-align: center;
}

.information h2 {
    font-weight: 900;
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
}

.quote blockquote {
    margin: 0;
    margin-inline: 12vw;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    align-items: center;
    font-size: 2.25rem;
    color: #1f2937;
}

cite {
    font-size: 1rem;
    align-self: flex-end;
}

.cta {
    margin-inline: 10vw;
    margin-block: 5rem;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 10px;
    gap: 1rem;
}

.cta-description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 5;
}

.cta-description h3 {
    margin: 0;
    font-weight: bold;
    font-size: 1.5rem;
}

.cta-description p {
    margin: 0;
}

.cta .btn{
    border:2px solid #e5e7eb;
    align-self: center;
    flex: 1;
}

@media screen and (max-width: 940px) {
    .hero-content {
        flex-direction: column-reverse;
        height: auto;
    }
    
    .hero-text{
        margin: 0;
    }
}

@media screen and (max-width: 540px){
    .main-text {
        font-size: 1.6rem;
    }

    .main-description {
        font-size: 1rem;
    }

    .quote blockquote {
        font-size: 1.5rem;
    }    

    .cta {
        flex-direction: column;
        gap: 2rem;
    }

    .cta .btn {
        align-self: flex-start;
    }
}